<h1>Edit weather_city</h1>

<form id="edit-weather_city" name="weather_city">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="temp"> temp:</label>
    <input type="text" name="temp" id="temp" value="<%= temp %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Weather city" />
  </div>

</form>

<a href="#/index">Back</a>