<h1>Listing weather_cities</h1>

<table id="weather_cities-table">
  <tr>
    <th>Name</th>
    <th>Temp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Weather city</a>